venv/
__pycache__/
attachments/
data/
build/
dist/
credentials/
last_finish_time.txt
secrets.json
secrets_test.json
service-account-key.json
credentials.json
read_email.spec
store.json
test.json
test_api.py