venv/
__pycache__/
attachments/
data/
build/
dist/
credentials/
last_finish_time.txt
secrets.json
secrets_test.json
service-account-key.json
credentials.json
read_email.spec
store.json
test.json
test_api.py
regal-framework-credentials.json
translate_document/
poppler-windows/
.env
docReader
translate_document
*.spec
_internal/
backups/
completed_temp/
inbox_temp/
